Source: telegram-desktop
Section: net
Priority: optional
Maintainer: Nicholas Guriev <guriev-ns@ya.ru>
Build-Depends:
 cmake (>=3.0),
 debhelper (>=10),
 dh-exec,
 gyp,
 libappindicator-dev,
 libavcodec-dev (>=7:3.2),
 libavformat-dev (>=7:3.2),
 libdee-dev,
 liblzma-dev,
 libmapbox-variant-dev,
 libminizip-dev (>=1.1),
 libmsgsl-dev,
 libopenal-dev,
 libopus-dev (>=1.1),
 libssl1.0-dev | libssl-dev (<<1.1),
 libswscale-dev (>=7:3.2),
 libtgvoip-dev,
 qtbase5-dev (>=5.5),
 qtbase5-private-dev (>=5.5),
 zlib1g-dev (>=1:1.2.8),
Standards-Version: 4.0.0
Homepage: https://desktop.telegram.org
Vcs-Git: https://anonscm.debian.org/git/collab-maint/telegram-desktop.git
Vcs-Browser: https://anonscm.debian.org/git/collab-maint/telegram-desktop.git

Package: telegram-desktop
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, qt5-image-formats-plugins (>=5.5)
Description: official telegram messaging app
 Telegram is a messaging app with a focus on speed and security, it is
 super-fast, simple and free. You can use Telegram on all your devices at the
 same time — your messages sync seamlessly across any number of your phones,
 tablets or computers.
